$spacing: 20px;
$backColor: #ddd;
$textShadow: rgba(black, 0.35) 1px 1px 1px;

/* Progress Bars */
.progress--bar {
  height: 1.5rem;
  margin: $spacing;
  background-color: $backColor;
  &:after {
    content: "";
    display: block;
    height: 100%;
    background-color: $primary-color;
  }
}

.progress--circle {
  position: relative;
  display: inline-block;
  margin: $spacing;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: $backColor;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $primary-color;
  }
}

.progress__number {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  margin-top: -0.75rem;
  text-align: center;
  font-size: 1.5rem;
  color: #777;
}

.progress--pie {
  &:before {
    display: none; /* Get rid of white circle for "pie chart style" meter */
  }
  .progress__number {
    color: white;
    text-shadow: $textShadow;
  }
}

/**
* $step is set to 5 by default, meaning you can only use percentage classes in increments of five (e.g. 25, 30, 45, 50, and so on). This helps to reduce the size of the final CSS file. If you need a number that doesn't end in 0 or 5, you can change the text percentage while rounding the class up/down to the nearest 5.
*/
$step: 0.5;
$loops: round(5 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress--bar.progress--#{$i * $step}:after {
    width: $i * $step * 1%;
  }
  .progress--circle.progress--#{$i * $step}:after {
    @if $i < $half {
      $nextDeg: 90deg + ($increment * $i);
      background-image: linear-gradient(
          90deg,
          $backColor 50%,
          transparent 50%,
          transparent
        ),
        linear-gradient(
          $nextDeg,
          $secondary-color 50%,
          $backColor 50%,
          $backColor
        );
    } @else {
      $nextDeg: -90deg + ($increment * ($i - $half));
      background-image: linear-gradient(
          $nextDeg,
          $secondary-color 50%,
          transparent 50%,
          transparent
        ),
        linear-gradient(270deg, $primary-color 50%, $backColor 50%, $backColor);
    }
  }
}

// progress-review-content
.progress-review-content {
  &.progress-review-content2 {
    .rating-title {
      width: 50%;
    }
  }
  li {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 2;
    justify-content: center;
  }
  span {
    display: block;
  }
  .rating-title {
    width: 70%;
    display: flex;
    align-items: center;
    color: #bac4ce;
    font-size: 14px;
    @include tablet {
      width: 60%;
    }
    @include large-mobile {
      width: 70%;
    }
    .color-one {
      display: block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
      border-radius: 2px;
      background-color: $primary-color;
    }
  }
  .rating-number {
    font-size: 14px;
  }
  .tooltip-container {
    display: block;
    width: 70px;
    border-radius: 5px;
    height: 5px;
    background: $primary-color;
    cursor: pointer;
  }
}
